
.box{
    background-color: #7ffff8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* height: 100px; */
    /* width : 100px; */
    /* padding: 30px; */
}
.heading{
    margin: auto;
    border: 1px solid black;
    width: 400px;
    align-items: center;
}
.event-card{
    border: 1px solid black;
}
img{
    height: 110px;
    width: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
}